.nav-item {
    @apply py-2.5 flex;
}

.nav-item>a {
    @apply block mt-0.5;
}

.nav-container {
    width: 145px;
    font-family: 'Poppins', sans-serif;
    @apply text-sm;
}
@media (min-width: 640px) {
    .nav-container {
        width: 170px;
    }
}

.nav-item-active {
    @apply bg-green-100 rounded-md font-semibold;
}